[Desktop Entry]
Type=Application
Name=1Password
Exec=/opt/1Password/1password --silent --disable-gpu-compositing
Icon=1password
Terminal=false
X-GNOME-Autostart-enabled=true
